@page "/"

<PageTitle>Todo List</PageTitle>

<h3>Machine List</h3>



<main>
    <div class="card" style="width: auto;">
        <div class="card-header row">
            <div class="col-3">List of Devices</div>
            <div class="col-5"></div>
            <div class="col-3"><NavLink class="btn btn-info" href="addNewMachine">New Device</NavLink></div>
        </div>
        <MachineList machines="machineList"></MachineList>
    </div>
</main>


<footer>2024&copy; Sinon Söderlund.</footer>